/* Modificaciones Sitio General */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html { /* etiqueta raiz */
    /* 1rem = 10px*/
    font-size: 62.5%;
    width: 100%;
}

body {
    background-color: #F4F2F3;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Palette Color */

.color1 {
    background-color: #D05919;
}
.color2 {
    background-color: #000000;
}
.color3 {
    background-color: #9EBC9F;
}
.color4 {
    background-color: #F4F2F3;
}
.color5 {
    background-color: #757083;
}



/* Header */

header {
    height: 100%;
    max-height: 6rem;
}

.header__logo {
    display: inline-block;
}

.header__logo img {
    padding: 0 1rem;
    margin: auto;
    width: auto;
    height: 100%;
    max-height: 6rem;
}

.header__navigation {
    float: right;
    padding: 1.9rem 0;
    border-radius: 3rem 0 0 3rem;
    
}

.header__navigation li {
    display: inline;
    font-size: 1.8rem;
    padding: 1.8rem 1rem;
    margin: 0 0.5rem;
}

.header__navigation a {
    text-decoration: none;
    color: white;
}

/* Banner Principal */

.banner {
    width: 100%;
    max-height: 60rem;
}

.banner__img {
    height: 100%;
    max-height: 60rem;
}

.banner__img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-height: inherit;
    overflow: hidden;
}

/* Banner Secundario */

.banner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    max-height: 20rem;
    background-color: #47367583;
}

.banner2__img {
    height: 100%;
    max-height: 20rem;
}

.banner2__img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    width: auto;
    height: auto;
    max-height: inherit;
    overflow: hidden;
}

.banner2__title {
    display: flex;
    font-size: 6rem;
    text-align: center;
    color: #D05919;
}

/* Secciones */

.title {
    padding: 10rem 0;
    text-align: center;
    vertical-align: middle;
    font-size: 6rem;
    text-align: center;
    color: #D05919;
}

.servicios table, .portafolio table {
    margin: auto;
    width: auto;
}

.servicios th, .portafolio th {
    background-color: #D05919;
    color: white;
    margin: auto;
    font-size: 3rem;
    width: 33.33%;
    font-family: 'Raleway', sans-serif;
    height: 10rem;
}

.servicios td, .portafolio td {
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8rem;
}

.portafolio td img {
    width: auto;
    height: auto;
}

.button {
    text-align: center;
    padding: 5rem;
    margin-bottom: 10rem;
}

.button a {
    font-size: 2rem;
    color: white;
    border: solid 0.1rem #D05919;
    background-color: #D05919;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
}

/* Acerca */

#acerca {
    display: grid;
    grid-template-areas: 
    "aside title"
    "aside content";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    max-width: 100%;
}

.acerca__aside {
    padding: 2rem 2rem;
    grid-area: aside;
    background-color: #757083;
    color: white;
    font-size: 1.8rem;
}

.acerca__aside li {
    list-style: none;
}

.acerca__subtitle {
    grid-area: title;
    font-size: 4rem;
    text-align: center;
    color: #000;
}

.acerca__content {
    grid-area: content;
    margin: 1rem;
    font-size: 1.8rem;
}

.acerca__content li {
    margin-left: 2rem;
}

/* Servicios */

/* Portafolio */

/* Contacto */
#contacto {
    display: grid;
    grid-template-areas: 
    "title form"
    "aside form";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    max-width: 100%;
    margin: 0 20rem;
}

.contacto__subtitle h2 {
    font-size: 2.5rem;
    color: #D05919;
}

.contacto__aside {
    padding: 1rem 1rem 1rem 0;
    grid-area: aside;
    font-size: 1.8rem;
    text-align: center;
}

.contacto__aside li {
    list-style: none;
}

.contacto__aside a {
    text-decoration: none;
    color: #D05919;
}

.contacto__subtitle {
    grid-area: title;
    font-size: 4rem;
    text-align: center;
    color: #000;
    padding: 1rem 1rem 1rem 0;
}

.contacto__form {
    display: flex;
    justify-content: center;
    align-content: stretch;
    grid-area: form;
    padding: 1rem 0 1rem 1rem;
    font-size: 1.8rem;
    background-color: #757083;
    color: white;
}

.contacto__form label {
    display: flex;
    justify-items: start;
}

input#nombre, input#email, .contacto__form select, .contacto__form textarea {
    display: flex;
    justify-content: stretch;
    width: 100%;
    margin-bottom: 0.5rem;
}

.contacto__newsletter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.contacto__button {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem 0;
}

.contacto__button input {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: white;
    border: solid 0.1rem #D05919;
    background-color: #D05919;
    border-radius: 1rem;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: black;
    padding-top: 3rem;
}

footer table {
    margin: 5rem 0;
    width: 100%;
}


footer td {
    padding: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5rem;
    width: 25%;
    border: solid 0.1rem black;
    color: white;
}

footer img {
    border-radius: 50rem;
    padding: 1rem;
}

.footer__navigation li {
    background-color: #D05919;
    padding: 0.5rem;
    border-radius: 3rem;
    margin: 1rem 10rem;
}
.footer__navigation li, footer li {
    font-size: 1.8rem;
    list-style: none;
}

.footer__navigation a, footer a {
    color: white;
    text-decoration: none;
}


.footer__derechos {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 2rem;
}