/* Banner Principal */

#home-banner {
    height: 28rem;
    background-image: url('../img/banners/banner-principal1.jpg');
    background-position: center;
    @include bg-images;
}

@media screen and (min-width: 992px) {
    #home-banner {
      height: 38rem;
    }
  }

.banner-bg-mask {
    background-color: #7570838f;
}


/* Second Banner */

#second-banner {
    height: 30rem;
    background-image: url('../img/banners/second-banner.jpg');
    background-position: bottom;
    @include bg-images;
}

@media screen and (min-width: 992px) {
    #second-banner {
        height: 38rem;
        background-attachment: fixed;

    }
  }

/* Paginas Secundarias Banner */

#second-page-banner {
    height: 32rem;
    background-image: url('../img/banners/second-banner2.jpg');
    background-position: center;
    @include bg-images;
}
