/* Servicios Page */

.servicios .card {
    @include flex-column;
    justify-content: center;
}


/* Servicios */

.servicios {
    .card {
        height: 100%;
        text-align: center;
    }
    .card:hover{
        transition: 0.5s;
        background-color: $white;
        color: $color5;
    }
}