

/* Palette Color */

.bg-color1 {
    background-color: #D05919;
}
.bg-color2 {
    background-color: #000000;
}
.bg-color3 {
    background-color: #9EBC9F;
}
.bg-color4 {
    background-color: #F4F2F3;
}
.bg-color5 {
    background-color: #444444;
}
.color1 {
    color: #D05919;
}
.color2 {
    color: #000000;
}
.color3 {
    color: #9EBC9F;
}
.color4 {
    color: #F4F2F3;
}
.color5 {
    color: #444444;
}